  :root {
    --pico-border-radius: 2rem;
    --pico-typography-spacing-vertical: 1.5rem;
    --pico-form-element-spacing-vertical: 1rem;
    --pico-form-element-spacing-horizontal: 1.25rem;
    --pico-font-family: "Cascadia Code", sans-serif;
    font-family: "Cascadia Code", sans-serif;
    font-optical-sizing: auto;
    --pico-color-primary: #4CAF50;
  }

  * {
    -webkit-user-select: none;
    user-select: none;
  }

  .website-title {
    color: #4CAF50;
    font-weight: bold;
    font-size: 1.1rem;
  }

  .festive-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: #b3000c;
    width: 100%;
  }

  .blink {
    font-weight: 600;
    font-size: 30px;
    color: #ffffff;
    -webkit-animation: 2s blink step-end infinite;
    -moz-animation: 2s blink step-end infinite;
    -ms-animation: 2s blink step-end infinite;
    -o-animation: 2s blink step-end infinite;
    animation: 2s blink step-end infinite;
  }

  @keyframes blink {

    from,
    to {
      color: transparent;
    }

    50% {
      color: black;
    }
  }

  @-moz-keyframes blink {

    from,
    to {
      color: transparent;
    }

    50% {
      color: black;
    }
  }

  @-webkit-keyframes blink {

    from,
    to {
      color: transparent;
    }

    50% {
      color: black;
    }
  }

  @-ms-keyframes blink {

    from,
    to {
      color: transparent;
    }

    50% {
      color: black;
    }
  }

  @-o-keyframes blink {

    from,
    to {
      color: transparent;
    }

    50% {
      color: black;
    }
  }

  #intro {
    margin: 0 auto;
    width: 60%;
  }

  .intro-container {
    margin-bottom: 5rem;
  }

  .defensive-ctfs {
    margin-top: 5rem;
  }

  .no-ctf-title {
    margin-bottom: 0px;
    text-align: center;
  }

  .ctf-writeup-img {
    flex: 0.3;
    object-fit: cover;
    border-top-left-radius: var(--pico-border-radius);
    border-bottom-left-radius: var(--pico-border-radius);
  }

  .ctf-writeup-card {
    display: flex;
    flex-direction: row;
    border-radius: var(--pico-border-radius);
    box-shadow: 0 4px 8px 0 #3d3d3d33, 0 6px 20px 0 #3d3d3d33;
    height: 15rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .ctf-writeup-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
  }

  .ap-button {
    background-color: #333333;
    color: white;
  }

  div.ap-control-bar span.ap-playback-button svg {
    color: white;
    background-color: #333333;
    height: 2px;
    width: 2px;
  }

  .ctf-details {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
  }


  .ctf-title {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: start;
    text-transform: uppercase;
  }

  .ctf-write-up {
    display: flex;
    font-weight: bold;
    color: white;
  }

  .ctf-level.easy {
    background-color: #4CAF50;
    padding: 0.5rem;
    border-radius: var(--pico-border-radius);
  }

  .ctf-level.medium {
    background-color: #FF9800;
    padding: 0.5rem;
    border-radius: var(--pico-border-radius);
  }

  .ctf-level.hard {
    background-color: #F44336;
    padding: 0.5rem;
    border-radius: var(--pico-border-radius);
  }

  .blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
  }

  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }

  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }