  :root {
    --pico-border-radius: 2rem;
    --pico-typography-spacing-vertical: 1.5rem;
    --pico-form-element-spacing-vertical: 1rem;
    --pico-form-element-spacing-horizontal: 1.25rem;
    --pico-font-family: Cascadia Code;
  }

  .festive-title {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
  }

  #intro {
    margin: 0 auto;
    width: 400px;
  }


  .ctf-writeup-card {
    background-size: cover;
    background-position: center;
    color: white;
    padding: 8rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .ap-button {
    background-color: #333333;
    color: white;
  }

  div.ap-control-bar span.ap-playback-button svg {
    color: white;
    background-color: #333333;
    height: 2px;
    width: 2px;
  }


  .ctf-name {
    color: white;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 4rem;
    flex: 1;
    font-weight: bold;
    text-align: end;
    text-transform: uppercase;
  }

  .ctf-level {
    flex: 1;
  }

  .ctf-write-up {
    text-align: center;
    display: flex;
    font-weight: bold;
    color: white;
  }

  .ctf-write-up a {
    text-align: center;
  }

  .ctf-level.easy {
    background-color: #4CAF50;
    padding: 0.5rem;
    border-radius: var(--pico-border-radius);
  }

  .ctf-level.medium {
    background-color: #FF9800;
    padding: 0.5rem;
    border-radius: var(--pico-border-radius);
  }

  .ctf-level.hard {
    background-color: #F44336;
    padding: 0.5rem;
    border-radius: var(--pico-border-radius);
  }