  :root {
      --pico-border-radius: 2rem;
      --pico-typography-spacing-vertical: 1.5rem;
      --pico-form-element-spacing-vertical: 1rem;
      --pico-form-element-spacing-horizontal: 1.25rem;
  }

  h1 {
      --pico-font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      --pico-font-weight: 800;
      --pico-typography-spacing-vertical: 0.5rem;
  }